import from'./styles.scss'; 
import { I{{pascalCase  name}}Props } from'./types';

const {{pascalCase name}} = ({}:I{{pascalCase  name}}Props) => { 
return (
<div className="{{kebabCase name}}-container">
  <h1>{{pascalCase name}} Component</h1>
</div>
    );
}; 
export { {{pascalCase name}} };